@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter";
}

.main-wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
  min-height: 100vh;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0px auto;
}

.internal-wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0px auto;
}

/* Media Query for screens less than 480px */
@media screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
    margin: 0px auto;
  }

  .internal-wrapper {
    width: 100%;
    margin: 0px auto;
  }
}
